*{
    margin: 0;
    padding:0;
}
#html{
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 0px 0px;
}

#logo img{
    height: 95px;
    margin: 10px 10px;
}

#navbar{
    height: 86px;
    background-color: red;
    position: relative;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    height: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}


#call{
    bottom: 30px;
    right: 30px;
    position: fixed;
}
#call img{
    height: 130px;
}

/*HOME SECTION*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(logo/home.jpg) no-repeat center center/cover;
    position: absolute;
    top: -170px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.98;
}

#home h1{
    -webkit-text-stroke: black 2px;
    font-size: 100px;
    font-style: bold;
    color: beige;
    text-align: center;
}

#home p{
    font-style: italic;
    color: white;
    text-align: center;
}



/*Service Section*/
.services-container{
    margin: -15px 0px;
}

#services{
    margin: 45px;
    display: flex;
}

#services .box{
    padding: 25px;
    background-color:red;
    border-radius: 15px;
    margin: 15px;
    border: 2px solid red;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#service .box p{
    
    text-align: flex;
    font-size: 2.3rem;
}



/*   utility class*/
.h-primary{
    text-align: center ;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 3.5rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: red;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}

.product img{
    margin: 45px;
    height: 185px;
}

#pro {
    display: inline-flex;
    margin: auto;
}
#av{
    margin: auto;
    text-align: center;
}

#pro1 {
    display: inline-flex;
    margin: auto;
}

.footer{

    text-align: center;
    height: 350px;
    background-color: rgb(18 18 19);
}

.footer h2{
    -webkit-text-stroke: black 1px;
    font-size: 100px;
    font-style: bold;
    color: #f7f7f7;
    text-align: center;
    font-size: 2.5rem;
}

.footer h3{
    font-weight: lighter;
    font-style: normal;
    font-size: 18px;
    color: #757575;
    margin: 10px 18px;
    display: flex;

}

#ic{
    height: 20px;
    display: inline-flex;
}
.icon{
    opacity: 0.8;
    margin: 8px;
}
.icon img{
    text-align: center;
    align-items: center;
    margin: 13px;
    display: inline;
    height: 55px;
}


/* Style the input box */
.enquiry-input{
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px; /* Make space for the search icon */
  }

    /* Style the input box container */
    .enquiry-container {
        margin: 25px 20px;
        display: block;
        position: relative;
      }


      #bar {
        text-align: center;
        margin: 0px 390px;
        content: "";
        background-color: #F5F5F5;
        border-radius: 10px;
        height: 1px;
    }

    #fbar{
        content: "";
        background-color: #000;
        height: 45px;
    }